@CHARSET "ISO-8859-1";

.painel-principal{
	margin-top: 8%;
}

.botao-nova-tarefa{
	float: right;
    margin: 5% 1.4% 0px 0;
}

.botao-gerenciar{
	float: right;
    margin: 4% 1.4% 0px 0;
}

.botao-voltar{
	margin-top: 4%;
    margin-left: 1.3%;
}

.panel-title{
	font-size: 26px !important;
}
